@import url(../variables.module.css);

.about {
  padding: var(--padding);
}

.aboutBanner {
  width: 70%;
  border-radius: 20px;
  z-index: 2;
}

.aboutHeader {
  position: relative;
  display: block;
}
.aboutAnimation {
  rotate: 90deg;
  box-shadow: var(--box-shadow);
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  z-index: 0;
  height: 70%;
  width: 50%;
  left: 30%;
  top: 10%;
  animation: aboutAnimation 1 forwards 1s ease-in;
}

@keyframes aboutAnimation {
  20% {
    rotate: 90deg;
    translate: 0;
  }
  50% {
    rotate: 0deg;
  }
  60% {
    rotate: 0deg;
    translate: 0 30%;
  }
  100% {
    rotate: 0deg;
    translate: 0 30%;
    z-index: 0;
  }
}

@media (min-width: 768px) {
  .aboutBanner {
    width: 50%;
  }
  .aboutAnimation {
    width: 35%;
  }
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .main {
    width: 100%;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .aboutBanner {
    width: 60%;
  }
  .aboutAnimation {
    width: 50%;
    height: 70%;
  }
  p {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
  }
}
