@import url(../variables.module.css);

.btn {
  background: var(--accent);
  color: var(--background-color);
  padding: 10px 20px;
}

.imageContainer {
  display: none;
}
.landingBtn {
  background: var(--accent);
  color: var(--background-color);
}

.landingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 700px) {
  .landingPage {
    margin: var(--padding);
    display: flex;
    justify-content: space-between;
    gap: var(--padding);
  }
  .landingP {
    margin-top: 0;
    line-height: 1.5;
  }
  .landingTitle {
    font-size: 3rem;
  }

  .imageContainer {
    display: block;
    max-width: 50%;
    position: relative;
  }

  .homeImg {
    position: relative;
    border-radius: 10px;
    z-index: 2;
    width: 100%;
    object-fit: cover;
  }
  .animation {
    transition: left 0.5s;
    background: var(--accent);
    height: 80%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: -5%;
    z-index: 1;
  }
  .imageContainer:hover .animation {
    left: -10%;
  }

  .landingHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 50%;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .landingPage {
    padding: calc(var(--padding) * 2);
    align-items: center;
    height: 50%;
  }

  .homeImg {
    max-height: 30rem;
  }

  .landingP {
    font-size: 1rem;
  }
  .landingTitle {
    font-size: 3rem;
  }
}
@media (min-width: 1440px) {
  .landingTitle {
    font-size: 6rem;
  }
  .homeImg {
    width: 90%;
  }
  .animation {
    width: 50%;
  }
  .imageContainer {
    margin-left: calc(var(--padding) * 2);
  }
}
