button {
  display: inline-block;
  width: 6rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

a {
  background: var(--accent);
  color: white;
  max-width: 40%;
  padding: 10px;
  border-radius: 10px;
}
img {
  border-radius: var(--img-border-radius);
}

#root {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  color: var(--primary);
  word-spacing: 0.75rem;
  letter-spacing: 0.1rem;
}
p {
  color: var(--secondary);
  line-height: 1.5;
}

.logo {
  color: var(--primary);
}
.cart {
  padding: var(--padding);
  padding-top: 0;
}
.rounded-right {
  position: fixed;
  top: 90%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .rounded-right {
    display: none;
  }
}
