:root {
  --background-color: #f7f7f7;
  --featured-section-background: #c4d1ba;
  --primary: #333;
  --secondary: #6851a9;
  --accent: #8cc152;
  --accent-clean: #dfffbc;
  --attention-grab: #ef7cac;
  --promos: #ff5a5f;
  --padding: 2rem;
  --transition-time: 0.3s;
  --box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.2);
}

#root {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* navbar */
.btn {
  padding: 10px 20px;
  display: inline-block;
  width: 6rem;
  text-align: center;
  border-radius: 10px;
}
h1 {
  color: var(--primary);
  word-spacing: 0.75rem;
  letter-spacing: 0.1rem;
}
p {
  color: var(--secondary);
  line-height: 1.5;
}

.logo {
  color: var(--primary);
}

.nav-bar {
  box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.1);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav-hamburger {
  cursor: pointer;
}
.nav-hamburger > svg {
  fill: var(--primary);
}
.nav-links-container {
  overflow: hidden;
  transition: height var(--transition-time);
}
.nav-links {
  margin-left: var(--padding);
}
.nav-links > li {
  list-style: none;
  padding: 5px 0;
  transition: padding var(--transition-time);
}
.nav-links > li:active {
  padding-left: 1rem;
}
.nav-a {
  margin-left: 10px;
  color: var(--primary);
}
.nav-a:focus {
  color: var(--accent);
}
.nav-a > svg {
  fill: var(--primary);
}

@media (min-width: 440px) {
  li > svg {
    display: none;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-hamburger {
    display: none;
  }
  .nav-links {
    display: flex;
    gap: 10px;
  }
  .nav-links > li {
    text-align: center;
  }
  .nav-links-container {
    height: 100%;
  }
  .nav-links > li:active {
    padding-left: 0;
  }
  .nav-links:last-child {
    margin-right: var(--padding);
  }
}

/* LandingPage -- HomePage */

.image-container {
  display: none;
}
.landing-btn {
  background: var(--accent);
  color: var(--background-color);
}

.landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 700px) {
  .landing-page {
    margin: var(--padding);
    display: flex;
    justify-content: space-between;
    gap: var(--padding);
    height: 80vh;
  }
  .landing-p {
    line-height: 1.5;
  }
  .landing-title {
    font-size: 3rem;
  }

  .image-container {
    display: block;
    max-width: 50%;
    position: relative;
  }

  .home-img {
    position: relative;
    border-radius: 10px;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .animation {
    transition: left 0.5s;
    background: var(--accent);
    height: 80%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: -5%;
    z-index: 1;
  }
  .image-container:hover .animation {
    left: -10%;
  }

  .landing-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 50%;
    text-align: left;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-p {
  color: var(--background-color);
}
.some {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Loading  */
.loading {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

@keyframes loading {
  0% {
    scale: 1;
  }
  50% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.loading > .square {
  width: 20px;
  height: 20px;
  background: gray;
}

.s1 {
  animation: loading 1s 0ms infinite ease;
}
.s2 {
  animation: loading 1s 100ms infinite ease;
}
.s3 {
  animation: loading 1s 200ms infinite ease;
}

/* services */

.services {
  background-color: var(--accent-clean);
  padding: var(--padding);
}
.services-title {
  text-transform: capitalize;
  text-align: center;
}
.card {
  padding: var(--padding);
  background: var(--accent);
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}
.card > h3 {
  text-align: center;
  text-transform: capitalize;
}
.card > div {
  margin-left: auto;
  margin-right: auto;
  background: var(--accent-clean);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-top: 10px;
}
.card > div > svg {
  width: 30px;
  height: 30px;
}

/* Featured Items  */

.featured-items {
  margin-top: var(--padding);
  background-color: var(--featured-section-background);
  text-align: center;
  padding: var(--padding);
}

.featured-items > h3 {
  font-size: 1.5rem;
}
.featured-items-wrapper {
  position: relative;
  display: grid;
  place-items: center;
}
.featured-items-title {
  text-align: center;
  text-transform: capitalize;
}

.featured-items-image {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 70%;
  transition: filter var(--transition-time);
}
.featured-items-wrapper:hover .featured-items-link {
  scale: 1;
}
.featured-items-wrapper:hover .featured-items-image {
  filter: brightness(0.5);
}

.featured-items-link {
  transition: scale var(--transition-time);
  scale: 0;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  place-items: center;
  place-content: center;
  background: var(--accent);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.featured-items-link > svg {
  color: var(--background-color);
}

/*  About Page */

.about {
  padding: var(--padding);
}

.about-banner {
  width: 70%;
  border-radius: 20px;
  z-index: 2;
}

.about-header {
  position: relative;
  display: block;
}
.about-animation {
  rotate: 90deg;
  box-shadow: var(--box-shadow);
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  z-index: 0;
  height: 70%;
  width: 50%;
  left: 30%;
  top: 10%;
  animation: about-animation 1 forwards 1s ease-in;
}

@keyframes about-animation {
  20% {
    rotate: 90deg;
    translate: 0;
  }
  50% {
    rotate: 0deg;
  }
  60% {
    rotate: 0deg;
    translate: 0 30%;
  }
  100% {
    rotate: 0deg;
    translate: 0 30%;
    z-index: 0;
  }
}
.filters-colors-container {
  display: flex;
  gap: 10px;
  margin-left: var(--padding);
}

.filters-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--padding);
}

#categories,
#companies {
  padding: 5px;
}
.label {
  font-weight: 700;
}

.selected-color {
  border: 1px solid #333;
  padding: 5px;
}

/* Product Page */
.product-page {
  padding: var(--padding);
}
.product-page-img {
  width: 100%;
}

.product-page-title {
  text-transform: uppercase;
}
.product-page-price {
  font-size: 2rem;
}
.product-page-product-info {
  color: var(--primary);
  font-size: 1.2rem;
}
