@import url(../variables.module.css);

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footerP {
  color: var(--background-color);
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
